[data-theme='SeniorProject'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.44rem;
	--radius-base: 0.25rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(91.58% 0.08 326.21deg);
	--color-primary-100: oklch(85.79% 0.11 318.94deg);
	--color-primary-150: oklch(82.09% 0.13 316.56deg);
	--color-primary-200: oklch(82.09% 0.13 316.56deg);
	--color-primary-300: oklch(74.58% 0.18 312.08deg);
	--color-primary-400: oklch(69.24% 0.22 309.49deg);
	--color-primary-500: oklch(64.47% 0.25 306.84deg);
	--color-primary-600: oklch(57.71% 0.23 304.41deg);
	--color-primary-700: oklch(50.95% 0.22 301.28deg);
	--color-primary-800: oklch(43.82% 0.21 297.12deg);
	--color-primary-900: oklch(36.99% 0.19 291.53deg);
	--color-primary-950: oklch(30.11% 0.18 283.75deg);
	--color-primary-contrast-dark: #000;
	--color-primary-contrast-light: #fff;
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-150: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(81.92% 0.11 43.32deg);
	--color-secondary-100: oklch(75.91% 0.13 35.32deg);
	--color-secondary-150: oklch(72.09% 0.15 33.56deg);
	--color-secondary-200: oklch(72.09% 0.15 33.56deg);
	--color-secondary-300: oklch(65.46% 0.19 28.58deg);
	--color-secondary-400: oklch(61.49% 0.21 27.8deg);
	--color-secondary-500: oklch(58.4% 0.23 28.1deg);
	--color-secondary-600: oklch(53.04% 0.21 28.18deg);
	--color-secondary-700: oklch(47.4% 0.19 28.2deg);
	--color-secondary-800: oklch(41.74% 0.16 28.33deg);
	--color-secondary-900: oklch(35.69% 0.14 28.44deg);
	--color-secondary-950: oklch(29.36% 0.12 29.23deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-150: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(95.97% 0.06 196.16deg);
	--color-tertiary-100: oklch(90.44% 0.08 211.04deg);
	--color-tertiary-150: oklch(86.04% 0.1 216.09deg);
	--color-tertiary-200: oklch(86.04% 0.1 216.09deg);
	--color-tertiary-300: oklch(80.08% 0.13 227.45deg);
	--color-tertiary-400: oklch(75.61% 0.15 233.64deg);
	--color-tertiary-500: oklch(71.63% 0.16 240.22deg);
	--color-tertiary-600: oklch(65.2% 0.16 242.47deg);
	--color-tertiary-700: oklch(58.63% 0.15 245.06deg);
	--color-tertiary-800: oklch(51.64% 0.14 248.52deg);
	--color-tertiary-900: oklch(44.7% 0.13 251.9deg);
	--color-tertiary-950: oklch(37.55% 0.13 255.66deg);
	--color-tertiary-contrast-dark: #000;
	--color-tertiary-contrast-light: #fff;
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-150: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(97.96% 0.12 108.35deg);
	--color-success-100: oklch(93.56% 0.14 115.38deg);
	--color-success-150: oklch(90.09% 0.15 118.37deg);
	--color-success-200: oklch(90.09% 0.15 118.37deg);
	--color-success-300: oklch(84.86% 0.18 124.21deg);
	--color-success-400: oklch(80.8% 0.19 127.53deg);
	--color-success-500: oklch(76.81% 0.2 130.85deg);
	--color-success-600: oklch(69.44% 0.19 133.05deg);
	--color-success-700: oklch(61.88% 0.18 135.65deg);
	--color-success-800: oklch(54.52% 0.17 138.28deg);
	--color-success-900: oklch(46.76% 0.15 140.76deg);
	--color-success-950: oklch(38.95% 0.13 142.5deg);
	--color-success-contrast-dark: #000;
	--color-success-contrast-light: #fff;
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-150: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-dark);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(97.87% 0.12 108.45deg);
	--color-warning-100: oklch(94.1% 0.14 103.73deg);
	--color-warning-150: oklch(90.73% 0.15 100.04deg);
	--color-warning-200: oklch(90.73% 0.15 100.04deg);
	--color-warning-300: oklch(86.48% 0.16 95.56deg);
	--color-warning-400: oklch(82.95% 0.16 91.25deg);
	--color-warning-500: oklch(79.53% 0.16 86.04deg);
	--color-warning-600: oklch(72.24% 0.15 84.37deg);
	--color-warning-700: oklch(64.97% 0.13 82.89deg);
	--color-warning-800: oklch(57.17% 0.12 80.8deg);
	--color-warning-900: oklch(49.43% 0.1 78.1deg);
	--color-warning-950: oklch(41.18% 0.09 73.23deg);
	--color-warning-contrast-dark: #000;
	--color-warning-contrast-light: #fff;
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-150: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-light);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(100% 0 none);
	--color-error-100: oklch(97.57% 0.01 17.51deg);
	--color-error-150: oklch(95.92% 0.01 17.57deg);
	--color-error-200: oklch(95.92% 0.01 17.57deg);
	--color-error-300: oklch(92.92% 0.03 17.83deg);
	--color-error-400: oklch(90.78% 0.05 18.07deg);
	--color-error-500: oklch(88.45% 0.06 18.36deg);
	--color-error-600: oklch(81.18% 0.06 18.45deg);
	--color-error-700: oklch(73.54% 0.06 18.6deg);
	--color-error-800: oklch(65.92% 0.06 18.76deg);
	--color-error-900: oklch(57.86% 0.06 19.04deg);
	--color-error-950: oklch(49.78% 0.06 19.38deg);
	--color-error-contrast-dark: #000;
	--color-error-contrast-light: #fff;
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-150: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-dark);
	--color-error-contrast-600: var(--color-error-contrast-dark);
	--color-error-contrast-700: var(--color-error-contrast-dark);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(100% 0 none);
	--color-surface-100: oklch(95.21% 0 none);
	--color-surface-150: oklch(92.4% 0 none);
	--color-surface-200: oklch(92.4% 0 none);
	--color-surface-300: oklch(85.45% 0 none);
	--color-surface-400: oklch(80.47% 0 none);
	--color-surface-500: oklch(75.4% 0 none);
	--color-surface-600: oklch(68.3% 0 none);
	--color-surface-700: oklch(60.66% 0 none);
	--color-surface-800: oklch(53.13% 0 none);
	--color-surface-900: oklch(44.95% 0 none);
	--color-surface-950: oklch(36.77% 0 none);
	--color-surface-contrast-dark: #000;
	--color-surface-contrast-light: #fff;
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-150: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-dark);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
[data-theme='SeniorProject'] .btn {
	@apply text-surface-50;
	@apply bg-primary-500;
	@apply rounded-base;
	@apply px-2;
	@apply py-2;
	@apply font-semibold;
	@apply transition-all;
	@apply duration-200;
	@apply ease-in-out;
}
[data-theme='SeniorProject'] .btn.error,
[data-theme='SeniorProject'] .btn.btn-error {
	@apply text-surface-950;
	@apply bg-error-500;
	@apply hover:text-surface-950;
	@apply hover:bg-error-600;
	@apply focus-visible:bg-error-600;
	@apply active:bg-error-700;
}
[data-theme='SeniorProject'] .btn.rounded-full {
	@apply rounded-full;
}
/* Button */
[data-theme='SeniorProject'] .btn.lg {
	@apply px-2;
}
[data-theme='SeniorProject'] .btn:focus-visible {
	@apply ring-2;
	@apply ring-primary-500;
	@apply ring-offset-2;
	@apply ring-offset-surface-50;
	@apply dark:ring-offset-surface-950;
	@apply ring-offset-2;
	@apply outline-none;
	@apply focus-visible:ring-2;
	@apply focus-visible:ring-primary-500;
	@apply focus-visible:ring-offset-2;
	@apply focus-visible:ring-offset-surface-50;
	@apply dark:focus-visible:ring-offset-surface-950;
	@apply focus-visible:outline-none;
}
[data-theme='SeniorProject'] .btn:hover,
[data-theme='SeniorProject'] .btn:active {
	@apply bg-primary-800;
	@apply text-surface-50;
}
[data-theme='SeniorProject'] .btn:disabled {
	cursor: not-allowed;
}